@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Cochabamba Bolivia<br />
    <br />
    <abbr title="Phone">(+591)</abbr>
    70323720 (Bolivia) 
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:christianmpinto@gmail.com">christianmpinto@gmail.com</a><br />
</address>